{
  extends: "react-static/.babelrc",
  env: {
    test: {
      presets: [
        [
          "env",
          {
            targets: {
              node: "current",
            },
          },
        ],
        "next/babel",
      ],
    },
  },
  presets: ["flow"],
  plugins: [
    "macros",
    "emotion",
    [
      "inline-react-svg",
      {
        svgo: {
          plugins: [
            {
              removeAttrs: {
                attrs: "(data-name)",
              },
            },
            {
              cleanupIDs: true,
            },
          ],
        },
      },
    ],
    ["transform-define", "./config.js"],
  ],
}
