{
  "extends": ["react-app", "prettier"],
  "plugins": ["emotion"],
  "rules": {
    "emotion/jsx-import": "error",
    "emotion/no-vanilla": "error",
    "emotion/import-from-emotion": "error",
    "emotion/styled-import": "error",
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/anchor-is-valid": 0
  }
}
