# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
.cache/
# Build directory
.DS_Store
node_modules/
coverage/
out/
secrets.json
.next/
.webpack
.serverless
.vscode/